<%- host = ENV["host"]%>
<p>
	<%= "Hey #{@user.firstname},"%>
</p>

<p>
	<%= "#{@group_creator.firstname} just created a group #{@group.title}. Please join the group!"%>
	<br>
	<%= link_to "Write your sentence on group.", new_user_group_url+"?gid=#{@group.id}&passwd=#{@group.enter_code}"%>
</p>

<p>
	- Cheers,
	<br>
	YesAndApp
</p>

<!-- #{host}/sentences/ -->