<%- host = ENV["host"]%>
<p>
	<%= "Hey,"%>
</p>

<p>
	<%= "The submissions for your group: #{@group.title} are complete. Here's the final story:"%>
	<br>
	<%- @group.sentences.map(&:content).each do |sentence|%>
	<%= sentence%>
	<br>
	<% end %>
	<br>
</p>

<!-- <p>
	<%= link_to "Checkout more details", "http://www.yesandapp.com/sentences/new?gid=#{@group.id}"%>
</p>
 -->
<p>
	- Cheers,
	<br>
	YesAndApp
</p>
