<%- host = ENV["host"]%>
<p>
	<%= "Hey #{@nextup.firstname},"%>
</p>

<p>
	<%= "#{@sentence.user.firstname} just submitted something in #{@sentence.group.title}. Now its your turn to keep the ball rolling!"%>
	<br>
	<%= link_to "Make your next submisson", "http://www.yesandapp.com/sentences/new?gid=#{@sentence.group.id}"%>
</p>

<p>
	- Cheers,
	<br>
	YesAndApp
</p>

<!-- #{host}/sentences/ -->