<%- host = ENV["host"]%>
<p>
	<%= "Hi,"%>
</p>

<p>
	<%= "The submissions for #{@group.title} group are over. The sentences submitted were:"%>
	<br>
	<%- @group.sentences.map(&:content).each do |sentence|%>
	<%= sentence%>
	<br>
	<% end %>
	<br>
</p>

<p>
	<%= link_to "Checkout more details", "#{host}/sentences/new?gid=#{@group.id}"%>
</p>

<p>
	- Regards
	<br>
	Sil Demmer
</p>
