<%- host = ENV["host"]%>
<p>
	<%= "Hey #{@nextup.firstname},"%>
</p>

<p>
	<%- unless @sentence.nil? %>
		<%= "#{@sentence.user.firstname} just submitted something in #{@sentence.group.title}."%>
	<% end %>
	<%= "Its your turn to keep the ball rolling!" %>
	<br>
	<%= link_to "Make your next submisson", new_sentence_url+"?gid=#{@group.id}"%>
</p>

<p>
	- Cheers,
	<br>
	YesAndApp
</p>

<!-- #{host}/sentences/ -->