<%- host = ENV["host"]%>
<p>
	<%= "Hey #{@user.firstname},"%>
</p>

<p>
	<%= "Since you didn’t make your submission for #{@group.title} within 24hrs, we skipped your turn."%>
	<br>
	<%- "If you skip one more turn, you will be eliminated from the group and will not be able to create new sentences unless you rejoin."%>
	<br>
</p>

<p>
	- Cheers,
	<br>
	YesAndApp
</p>
