<%- host = ENV["host"]%>
<p>
	<%= "Hi #{@nextup.firstname},"%>
</p>

<p>
	<%= "#{@sentence.user.firstname} just posted #{@sentence.content} on #{@sentence.group.title}. Now its  your turn to keep the ball rolling!"%>
</p>

<p>
	<%= link_to "Submit you next sentence", "#{host}/sentences/new?gid=#{@sentence.group.id}"%>
</p>

<p>
	- Regards
	<br>
	Sil Demmer
</p>
