<h1>
  <%= "There are a total of #{Group.count} groups in the system"%>
</h1>	

  <%- count = 0%>
  <%- Group.all.each do |group| %>
  <div>
  <%= link_to "Download Group #{group.title}", "/admin/chapters/download?group_id=#{group.id}"%>
  <%- count = count + 1%>
  </div>
  <%end%>
