<div class='test'>
	<h1>
		<center><div id="ajax">
			<%= render "last_sentence"%>
		</div></center>
	</h1>
<center><%= render "form" %></center>
</div>
<center><div id="sentence_count">
	<%= render "sentence_count" %>
</div></center>