<center>
	<h4 class="ui black block header"> Your Group <%= group.title%> is created successfully! Invite friends now.</h4>
	</br>
	</br>
	<%= render :partial => '/groups/facebook_invite', :locals => {:group => group}%>
</center>

