<div id="fb-root"></div>
<a href="#" id="invite_fb_friends">Invite your friends</a>
<script src="https://connect.facebook.net/en_US/all.js"></script>
<script>
$(function(){
    $("a#invite_fb_friends").click(function(){
        FB.init({
        appId: "1535071766724592",
        status: true,
        cookie: false,
        // xfbml: true
        });

FB.ui({
method: 'apprequests',
message: "Yesandapp"});
});
});
</script>