<div class="ui raised segment", style= "margin: 2% 20% 2% 20%">
	<h3 class="ui black block header">If you have not received the instructions on your email, please regenerate it by following this link...
		<%= link_to "Resend verification email", new_user_confirmation_path %>
		 </h3>
	</div>
	
